{% extends 'main/base.html' %}

{% block title %}Все тесты{% endblock %}

{% block content %}
<div class="container mt-3">
    
    <div class="alert alert-secondary">
        <h1 class="text-center">Список доступных тестов</h1>
    </div>

    
    {% for quiz in quizzes %}
        <div class="alert alert-info mb-3 border">
            
            {% if quiz.photo %}
                <img src="{{ quiz.photo }}" class="img-fluid rounded mb-2" style="max-height: 150px;">
            {% endif %}
            
            <h2>{{ quiz.name }}</h2>
            <p>{{ quiz.description|default:"Описание теста." }}</p>
            
            
            <a href="{% url 'current_quiz' quiz.id %}" class="btn btn-primary">Начать тест</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
