{% extends 'main/base.html' %}

{% block title %}Профиль {{ current_user.nickname }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div>
            
            <div>
                <img src="{{ current_user.profile_picture }}" 
                     style="width: 120px; height: 120px; object-fit: cover;">
                <h2>{{ current_user.nickname }}</h2>
            </div>

            <div class="mt-4">
                <p><b>баллы:</b> {{ current_user.points }}</p>
                <p><b>Тестов пройдено:</b> {{ current_user.completed_quizzes|length }}</p>
                <p><b>Роль:</b> {% if current_user.is_superuser %} <b style="color: red;">Администратор</b> {% else %} <b>Пользователь</b> {% endif %}</p>
            </div>

            <div class="mt-3 border-top pt-3">
                <h6>О себе:</h6>
                <p>
                    {% if current_user.description %}
                        {{ current_user.description }}
                    {% else %}
                        Пользователь пока ничего не написал.
                    {% endif %}
                </p>
            </div>

            {% if user.username == current_user.username %}
                <div>
                    <a href="{% url 'change_profile' %}" class="btn btn-primary">Изменить данные</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger">Выйти из аккаунта</a>
                </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
