{% extends 'main/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <form method="post" style="max-width: 330px; margin: auto; padding: 1rem;">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

        <div class="form-floating mb-3">
            {{ form.username }}
            {% if form.username.errors %}
                <div class="text-danger">{{ form.username.errors }}</div>
            {% endif %}
            <label for="floatingUsername">Имя пользователя</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="text-danger">{{ form.password1.errors }}</div>
            {% endif %}
            <label for="floatingPassword1">Пароль</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="text-danger">{{ form.password2.errors }}</div>
            {% endif %}
            <label for="floatingPassword2">Подтвердите пароль</label>
        </div>
        <p> Имеется аккаунт? <a href="{% url 'login' %}">Войдите в него!</a> </p>
        <button class="btn btn-primary w-100 py-2" type="submit">Создать</button>
</form>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" class="astro-vvvwv3sm"></script>
{% endblock %}